body {
    padding: 0;
    margin: 0;

}
.header {
    display: flex;
    height: 180px;
    background-color: black;
}
.img-teatro{
    width: 80%;
    height: 100%;
    background-image: url("../Images/images.jpg");
}
.login-conteiner {
    width: 20%;
    height: 100%;
    padding:10px;
    color:ghostwhite;
    font-family:sans-serif;
    text-align:center;
}
.menu{
    background-color:black;
   height:70px;
   padding:15px;
}
.menu ul{
    display:flex;
    justify-content:flex-end;
}
li {
    margin-left:15px;
    list-style: none;
    text-decoration: none;
}
.menu ul li a {
    line-height: 70px;
    font-family: sans-serif;
    font-size: 15px;
    color: aliceblue;
}
main{
    display:flex;
}
.link a {
    color: black;
}
.izq {
    width: 25%;
    background-color: antiquewhite;
    padding: 10px;
}
.izq a {
    color:black;
    font-size: 15px;
    margin-top:3px;
}
.content {
    width: 50%;
    padding: 10px;
    color: black;
}
.der {
    width: 25%;
    padding: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: antiquewhite;
}
.der img{
    width:70%;
    margin-bottom:5px;
}
.footer{
    background-color:black;
    color: aliceblue;
    height: 80px;
    padding:15px;
}
    .footer p {
        text-align:right;
        line-height: 80px;
        font-family: sans-serif;
        font-size: 12px;
    }
.tabla{
    margin:auto;
    border: solid 1px black;
    font-family:sans-serif;
    font-size: 15px;
}
